.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: var(--p-xxl);
  padding-left: var(--p-xxl);
  margin-left: auto;
  margin-right: auto;
}
/* Títulos internos */
.titulo-bg {
  background-color: var(--c11);
  width: 100%;
  padding-top: var(--p-xxl);
  padding-bottom: var(--p-xxl);
}
.titulo p {
  margin-bottom: 4px;
}
/* Botões */

.botao {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--gradientPrimario);
  color: var(--p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  /* mantém o botão do tamanho do CONTEÚDO dele */
  max-width: max-content;
}
.botao:hover {
  background: var(--gradientPrimarioHover);
  transition: all 0.3s ease 0s;
}
.botao.secundario {
  background: var(--c10);
  color: var(--c2);
}
.botao.secundario:hover {
  background: var(--c8);
  transition: all 0.3s ease 0s;
}
.link {
  display: inline-block;
  color: var(--p1);
  font: 500 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: var(--m-xxl);
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: var(--m-xsm);
  background-color: currentColor;
}
.link:hover {
  color: var(--w);
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: var(--p-xl);
    padding-bottom: var(--p-xl);
  }
  .botao {
    font-size: 1rem;
    padding: var(--p-sm) var(--p-lg);
  }
  .link {
    margin-bottom: var(--m-xl);
  }
}
@media (max-width: 600px) {
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
